.navbar {
  background-color: #2c3e50;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
.logo {
  font-family: Inter;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #f1c40f, #e67e22);
}

.add-btn {
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
  border: 2px #e67e22 solid;
  border-radius: 8px;
  font-family: Inter;
  color: #e67e22;
  font-weight: 700;
}
.add-btn:hover {
  color: #ffffff;
  background-color: #e67e22;
  border: none;
  transition: all 0.3s ease;
  transform: scaleX(1.1);
  transform: scaleY(1.1);
}
.schools-container {
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
}
.search-input {
  width: 400px;
  height: 45px;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid;
  outline-color: #e67e22;
}
.school-img {
  width: 100%;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.school-img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.school-list {
  list-style-type: none;
  display: flex;
  height: 100vh;
  width: 80%;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 8px;
  align-items: flex-start;
  overflow: auto;
}

.list-item {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 250px;
  margin: 10px;
  border-radius: 10px;
}

.school-description {
  padding: 10px;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.details-heading {
  font-weight: 700;
  color: #e67e22;
}
